@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn {
  @apply rounded-2xl !important;
}

.ant-btn-lg {
  @apply py-[14px] h-auto text-sm !important;
}

.ant-form-item-control-input-content > input.ant-input,
.ant-input-password,
.ant-input-affix-wrapper,
textarea.ant-input {
  @apply py-[14px] px-4 rounded-2xl !important;
}

.ant-select-selector {
  @apply h-[52px] rounded-2xl !important;
}

.ant-select-selector .ant-select-selection-placeholder {
  @apply flex items-center !important;
}

.ant-input-affix-wrapper .ant-input {
  @apply bg-transparent !important;
}

.ant-select-selection-item {
  @apply py-[10px] px-1 !important;
}

.ant-form-item {
  @apply mb-4 !important;
}
.ant-form-item:last-child {
  @apply mt-6 !important;
}

.ant-form-item-label {
  @apply p-1 !important;
}
.ant-form-item-label > label {
  @apply text-xs !important;
}

.ant-input-password .ant-input-suffix {
  @apply text-xl !important;
}

.ant-btn-background-ghost.ant-btn-primary {
  @apply text-gray-850 !important;
}

.ant-form-item-required {
  @apply flex-row-reverse !important;
}

.ant-form-item-required::before {
  @apply ml-1;
}

.skeleton-user-card {
  @apply w-full h-[88px] rounded-2xl !important;
}

.skeleton-product {
  @apply w-full h-48 rounded-2xl !important;
}

.skeleton-sidebar {
  @apply w-full h-[364px] rounded-2xl !important;
}

.skeleton-notification {
  @apply w-full h-[80px] mb-4 rounded-2xl !important;
}

.skeleton-product-detail {
  @apply w-full h-[208px] rounded-2xl !important;
}

.skeleton-product-description {
  @apply w-full h-[100px] rounded-2xl !important;
}

.skeleton-product-slider {
  @apply w-full h-[436px] rounded-2xl !important;
}

.skeleton-product .ant-skeleton-title {
  @apply h-[100px] w-full !important;
}

.skeleton-product .ant-skeleton-paragraph {
  @apply mt-3 !important;
}

.skeleton-product .ant-skeleton-paragraph li {
  @apply mt-3 !important;
}

.skeleton-category {
  @apply rounded-xl h-[52px] mr-4 w-full max-w-[132px] !important;
}

@media (max-width: 767px) {
  .ant-modal {
    @apply max-w-full top-0 h-full flex items-end w-full m-0 p-0 !important;
  }

  .ant-modal-content {
    @apply w-full;
    @apply rounded-bl-none rounded-br-none !important;
  }

  .ant-modal-close {
    @apply hidden;
  }

  .ant-modal-body {
    @apply relative pt-[38px] px-8 pb-6;
  }

  .ant-modal-body::after {
    @apply content-[''] w-[60px] h-[6px] bg-[#c4c4c4] rounded-[20px] block absolute top-0 left-1/2;
    transform: translateX(-50%) !important;
  }
}

/* TOASTIFY  */
.Toastify__toast-container {
  @apply md:min-w-[500px];
}

.Toastify__toast-container .Toastify__toast {
  @apply items-center;
}

.Toastify__toast-body {
  @apply py-0;
}

.Toastify__close-button {
  @apply my-auto;
}

@media screen and (max-width: 1168px) {
  .container {
    @apply px-20 !important;
  }
}

@media screen and (max-width: 968px) {
  .container {
    @apply px-5 !important;
  }
}

@import '@pages/home/style.css';
@import '@pages/user/profile/style.css';
@import '@pages/product/style.css';
@import '@pages/example/style.css';
@import '@pages/notifications/style.css';
@import '@pages/user/product/style.css';

@import '@components/layout/auth/style.css';
@import '@components/layout/general/style.css';
@import '@components/header/style.css';
@import '@components/product-card/style.css';
@import '@components/product-detail/style.css';
@import '@components/product-slider/style.css';
@import '@components/footer/style.css';
@import '@components/slider/style.css';
@import '@components/category/style.css';
@import '@components/user-card/style.css';
@import '@components/product-description/style.css';
@import '@components/empty/style.css';
@import '@components/sidebar/style.css';
@import '@components/not-found/style.css';
@import '@components/unauthorized/style.css';
@import '@components/product-add/style.css';
@import '@components/logged-in-icon/style.css';
@import '@components/product-offer-card/style.css';
@import '@components/notifications-items/style.css';
@import '@components/modal/box/style.css';
@import '@components/modal/submit-offer/style.css';
@import '@components/modal/modal-status/style.css';
@import '@components/modal/accept-offer/style.css';
@import '@components/skeleton/style.css';
