.category {
  @apply flex py-[10px] md:py-3 px-6 rounded-xl bg-[#E2D4F0] text-[#3C3C3C] cursor-pointer !important;
}

.category-active {
  @apply text-white bg-purple-800 !important;
}

.category-icon {
  @apply pr-3;
}
