.skeleton-loading {
  display: block;
  min-height: 8px;
  background: linear-gradient(
      to right,
      rgba(35, 35, 35, 1),
      rgba(41, 41, 41, 1) 50%,
      rgba(35, 35, 35, 1) 100%
    ),
    #232323;
  background-repeat: repeat-y;
  background-size: 100px 500px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0, /* move highlight to right */ 0 0;
  }
}
