.ant-modal-content {
  @apply rounded-2xl flex flex-col !important;
}
.ant-modal-content .ant-modal-body {
  @apply mt-6;
}
.ant-modal-content .ant-modal-body .button-offer {
  @apply flex justify-center relative items-center;
}
.ant-modal-content .ant-modal-body .button-offer .icon-button-offer {
  @apply absolute right-4;
}
.ant-modal-content .ant-modal-footer {
  @apply hidden;
}

.modal-trigger div {
  @apply flex items-center gap-[6px] !important;
} /*# sourceMappingURL=style.css.map */
