.header {
  @apply shadow-default py-[18px];
}

.header-btn {
  @apply block md:hidden mr-4 py-[18px] bg-white border-none shadow-none !important;
}

.header-logo {
  @apply hidden md:block mr-6;
}

.header-logo svg {
  @apply h-[34px] text-purple-800;
}

.header-search {
  @apply w-full md:min-w-[444px] md:bg-gray-200  text-gray-350 border-none !important;
}

.header-search::placeholder {
  @apply text-gray-350 !important;
}

.header-wrapper {
  @apply flex justify-between items-center min-h-[48px];
}

.header-wrapper-left {
  @apply flex items-center w-full md:w-auto;
}

.header-auth {
  @apply hidden md:block;
}

.header-wrapper-left form {
  @apply w-full md:w-auto;
}

.header-wrapper-left .ant-form-item:last-child {
  @apply my-0 !important;
}

.header .container {
  @apply max-w-[1168px];
}

.header-drawer .ant-drawer-header {
  @apply border-none pt-[34px] font-black !important;
}

.header-drawer .ant-drawer-body {
  @apply py-0;
}

.header-drawer .ant-drawer-header-title {
  @apply flex-row-reverse !important;
}

@media screen and (max-width: 767px) {
  .header {
    @apply py-[5px] px-0 shadow-none bg-white;
  }

  .header-home {
    @apply bg-transparent absolute inset-x-0 top-0 z-10 py-9 px-0;
  }
}
