.footer {
  @apply bg-[#4B1979]  py-6 border-b hidden md:flex absolute bottom-0 w-full !important;
}
.copyright {
  @apply text-white text-base !important;
}
.social-media {
  @apply grid grid-cols-6 max-w-xs  !important;
}
.social-media a {
  @apply text-white !important;
}
.footer .container {
  @apply flex justify-between items-center lg:justify-between mx-auto !important;
}
.social-media svg {
  @apply h-5 !important;
}
